<section class="task">
  <h3>How it works</h3>
  <div class="task-wrap">
    <ion-card>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-icon class="ion-margin-bottom" color="success" name="person-add-outline"></ion-icon>
        </ion-row>
        <ion-row>
          <ion-card-subtitle class="ion-text-center">1
            . Sign up for a WeRecycle account or log in if you're an existing user. For Recycling companies contact admin for your company to be added in the system and connect to your clients easily.
          </ion-card-subtitle>
        </ion-row>
      </ion-col>
    </ion-card>
    <ion-card>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-icon class="ion-margin-bottom" color="success" name="search"></ion-icon>
        </ion-row>
        <ion-row>
          <ion-card-subtitle class="ion-text-center">2. Search for Recycling companies in your area by specifying your location
            and materials to recycled.</ion-card-subtitle>
        </ion-row>
      </ion-col>
    </ion-card>
    <ion-card>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-icon class="ion-margin-bottom" color="success" name="call-outline"></ion-icon>
        </ion-row>
        <ion-row>
          <ion-card-subtitle class="ion-text-center">3. Contact the recycling company directly or send a recycling request through the
            app.</ion-card-subtitle>
        </ion-row>
      </ion-col>
    </ion-card>
    <ion-card>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-icon class="ion-margin-bottom" color="success" name="calendar-outline"></ion-icon>
        </ion-row>
        <ion-row>
          <ion-card-subtitle class="ion-text-center">4. Once a request is approved, arrange for items to be recycled and visit
            convenient location at specified time.</ion-card-subtitle>
        </ion-row>
      </ion-col>
    </ion-card>
    <ion-card>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-icon color="success" class="ion-margin-bottom" name="checkmark-circle"></ion-icon>
        </ion-row>
        <ion-row>
          <ion-card-subtitle class="ion-text-center">5. After the recycling, both the company and user can update
            their request status on the app.</ion-card-subtitle>
        </ion-row>
      </ion-col>
    </ion-card>
  </div>
</section>