
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Requests</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="all" [scrollable]="true" class="ion-margin-top" color="success">
    <ion-segment-button value="all" contentId="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pending" contentId="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="approved" contentId="approved" >
      <ion-label>Approved</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cancelled" contentId="cancelled">
      <ion-label>Cancelled</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-segment-view>
    <ion-segment-content id="all">
      <app-admin-request-card *ngFor="let req of requests.all" [req]="req"></app-admin-request-card>
      
      <ion-card class="ion-padding" *ngIf="requests.all.length < 1">
        <ion-col class="ion-no-padding">
          <ion-col class="ion-no-margin ion-no-padding">
            No requests just yet
          </ion-col>
        </ion-col>
      </ion-card>
    </ion-segment-content>
    <ion-segment-content id="pending">
      <app-admin-request-card *ngFor="let req of requests.pending" [req]="req"></app-admin-request-card>
      
      <ion-card class="ion-padding" *ngIf="requests.pending.length < 1">
        <ion-col class="ion-no-padding">
          <ion-col class="ion-no-margin ion-no-padding">
            No requests just yet
          </ion-col>
        </ion-col>
      </ion-card>
    </ion-segment-content>
    <ion-segment-content id="approved">
      <app-admin-request-card *ngFor="let req of requests.approved" [req]="req"></app-admin-request-card>
      
      <ion-card class="ion-padding" *ngIf="requests.approved.length < 1">
        <ion-col class="ion-no-padding">
          <ion-col class="ion-no-margin ion-no-padding">
            No requests just yet
          </ion-col>
        </ion-col>
      </ion-card>
    </ion-segment-content>
    <ion-segment-content id="cancelled">
      <app-admin-request-card *ngFor="let req of requests.cancelled" [req]="req"></app-admin-request-card>
      
      <ion-card class="ion-padding" *ngIf="requests.cancelled.length < 1">
        <ion-col class="ion-no-padding">
          <ion-col class="ion-no-margin ion-no-padding">
            No requests just yet
          </ion-col>
        </ion-col>
      </ion-card>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>


